.part-3 {
    height: 100vh;
    background-color: rgb(221, 221, 221);

    .title {
        height: 20%;
        position: relative;
        h1 {
            display: inline;
            width: max-content;
            top: 50%;
            left: 50%;
            transform: translate(-80%,50%);
            position: absolute;
            margin: 0;
            /* font-size: 30px; */
            font-weight: 400;
            font-family: Roboto Mono,sans-serif;

            span{
                color: var(--cor0);
            }
        }
    }

    .info-1-part-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 5%;
    }
    .slot{
        width: 25%;
        font-size: 15px;

        p{
            text-align: justify;
        }

        span{
            color: var(--cor-2);
            font-weight: bold;
        }

        .cabecalho-slot{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            h3{
                height: max-content;
                margin:0;
            }
        }
        img{
            height:50px;
            margin-right: 5%;
        }
    }
    
    .info-2-part-3
    {
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}